<ion-view view-title="JS">
  <ion-content style="height:100%"  scroll="false">
    <h1>JS - {{scales[currVar].q}}</h1>
    <div class="container" ng-click="doubleCircles()">
      <div ng-repeat="c in circles track by $index" class="circle jsanim zero"  ng-style="{width:scales[currVar].size+'px',height:scales[currVar].size+'px'}"></div>
    </div>
  </ion-content>
</ion-view>
