<ion-view view-title="SVG">
  <ion-content style="height:100%"  scroll="false">
    <h1>SVG - {{scales[currVar].q}}</h1>
    <div class="container" ng-click="doubleCircles()">
      <svg-circle ng-repeat="c in circles track by $index" id="$index"></svg-circle>
    </div>
  </ion-content>
</ion-view>
