<svg width="500" height="150">
    <style>
        rect {
            -moz-transform-origin: 75px 75px;
            transform-origin: 50% 50%;
        }
    </style>
    <circle id="{{'circ'+id}}" r="30" cx="50" cy="50" fill="orange" transform="scale(1 1)" />

    <animateTransform
            xlink:href="#circid"
            attributeName="transform"
            attributeType="XML"
            type="scale"
            from="0.5 0.5"
            to="1.2 1.2"
            dur="2s"
            begin="0s"
            repeatCount="indefinite"
            fill="freeze"

    />
</svg>
