.circle {
  background-color: #0a9dc7;
  border-radius: 500px; }

.zero {
  width: 0px;
  height: 0px;
  opacity: 0; }

.fadeout {
  -webkit-animation: fadeout 0.5s normal forwards ease-in-out; }

.fadein {
  -webkit-animation: fadein 0.5s normal forwards ease-in-out; }

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
    transform: scale(1, 1); }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale(0, 0); } }
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0, 0); }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1); }
  to {
    transform: scale(1, 1); } }

/*# sourceMappingURL=css.css.map */
